.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .newsletter-buttons-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding-top: 20px;
    }
}